@font-face {
  font-family: 'Times New Roman';
  src: url('/fonts/timesNewRoman.ttf') format('truetype');
}


@font-face {
  font-family: 'Bai Jamjuree';
  src: url('/fonts/baiJamjuree.ttf') format('truetype');
}


.timesNewRoman {
  font-family: 'Times New Roman', serif;
}

.baiJamjuree {
  font-family: 'Bai Jamjuree', sans-serif;
}